<% provide(:title, 'Search') %>
  <%#= @mypostcode %> <!-- please dont touch  -->
	<br />
     <div id="pano"></div>
    <input id="address" type="hidden" placeholder="Aberdeen">
    <input type="hidden" value="Encode" onclick="codeAddress()">
    <br />

