<% provide(:title, 'Search') %>
<div class="span9">
<div class="hero-unit">
  <%= @mypostcode %> 
<br />
     <div id="pano"></div>
  <div>
    <input id="address" type="hidden" placeholder="Aberdeen">
    <input type="hidden" value="Encode" onclick="codeAddress()">
    <br />
  </div>
</div>
</div><!--/row-->

