<% provide(:title, 'All User Page') %>
    <div class="span9">
        <div class="hero-unit">
		<h1>All Users</h1>

		<ul class="users">
  		<% @users.each do |user| %>
    	 <li><%=user.email%>
         <% if current_user.role == "admin" && !current_user?(:user)%>
         <%= link_to " Delete User Account", user, method: :delete, data: { confirm: "Are you sure?"} %>
         <% end %> 
         </li>
      <% end %>
       </ul>

        </div><!--/row-->
  </div>

<%= render 'layouts/footer' %>
