<%= provide(:title, 'Welcome') %>  
    <div class="span9">
        <div class="hero-unit">
		<h1>Welcome to Aberdeen Search</h1>
		<p>Links to all pages:</p>
		<p>Instead of usin id's cant i use numbers as my value for params...</p>
        </div><!--/row-->
  </div>

		<!-- i shld create a test for this to check if dere is actually a model dat matches d form i am creating -->
<%#= render 'layouts/footer' %>
