<%= provide(:title, 'Welcome') %>
			<h1>Welcome to Aberdeen Search</h1>
			<%= render "layouts/search"  %>
    <br />
    <br />
<p style="text-align: center" >Don't have an account? <br /><br /> <%= link_to "Create one now!", signup_path, class: "btn" %></p>
