<li class="navbar-text pull-left"><%= link_to "Aberdeen Locator", current_user, class: "brand" %></li>
 <li class="navbar-text pull-right"><%= link_to "Logout", logout_path, method: "delete", class: "brand" %></li>
 <li class="navbar-text pull-right"><%= link_to "Edit Profile", edit_user_path(current_user), class: 'brand' %></li>
               